.padding-es {
    padding: 10px;
}

.padding-s {
    padding: 20px;
}

.padding-m {
    padding: 40px;
}

.padding-l {
    padding: 80px;
}

.padding-es-top {
    padding-top: 10px;
}

.padding-s-left {
    padding-left: 20px;
}

.padding-s-bottom {
    padding-bottom: 20px;
}

.padding-m-left {
    padding-left: 40px;
}

.padding-l-left {
    padding-left: 80px;
}

.padding-s-right {
    padding-right: 20px;
}

.padding-m-right {
    padding-right: 40px;
}

.padding-l-right {
    padding-right: 80px;
}

/* small spaces */
.top-space-es {
    margin-top: 10px;
}

.bottom-space-es {
    margin-top: 10px;
}

.top-space-s {
    margin-top: 20px;
}

.right-space-s {
    margin-right: 20px;
}

.bottom-space-s {
    margin-bottom: 20px;
}

.left-space-s {
    margin-left: 20px;
}

/* medium spaces */
.top-space-m {
    margin-top: 40px;
}

.right-space-m {
    margin-right: 40px;
}

.bottom-space-m {
    margin-bottom: 40px;
}

.left-space-m {
    margin-left: 40px;
}

/* large spaces */
.top-space-l {
    margin-top: 80px;
}

.right-space-l {
    margin-right: 80px;
}

.bottom-space-l {
    margin-bottom: 80px;
}

.left-space-l {
    margin-left: 80px;
}

.space-s {
    margin: 20px;
}

.space-m {
    margin: 40px;
}

.space-l {
    margin: 80px;
}

/* font */
.thick {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 900;
}

.font-size-s {
    font-size: 12px;
}

.font-size-m {
    font-size: 16px;
}

.font-size-l {
    font-size: 18px;
}

.font-size-el {
    font-size: 20px;
}

.font-size-big {
    font-size: 40px;
}

.font-size-mel {
    font-size: 22px;
}

.overflow {
    overflow: auto;
}

.uppercase {
    text-transform: uppercase;
}

.remove-text-transform {
    text-transform: none !important;
}

.border-radius {
    border-radius: 6px;
}

.border-radius-30 {
    border-radius: 15px;
}

.border {
    border-width: thin;
    border-style: solid;
    border-color: #dbdbdb;
}

.block {
    width: 100%;
}

.hover:hover {
    background-color: #e4e6e9;
    transition: all 0.2s ease;
}

.remove-underline {
    border-bottom: none !important;
    box-shadow: none !important;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.text {
    cursor: text;
}

.full-height {
    height: 100%;
}